*{
    margin: 0;
    padding: 0;
}
header{
  width: 100%;
  height: 100px;
  background-color: #2471A3;
  display: flex;
}
.titulo{
color: black;
font-size: 30px;
text-align: center;
margin-top: 1.5%;
}

section{
    background-color: wheat;
    height: 350px;
    width: 60%;
    margin: auto;
    margin-top: 150px;
}

.Text_medio{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
